* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0)50%,rgba(0,0,0,0.0)50%), url(shai.jpg);
    background-size: cover;
    min-height: 100vh;
}

.narrator {
    color: aliceblue;
    font-size: 40px;
    font-family:monospace;
    border: 6px solid rgba(225, 255, 255, .2);
    border-radius: 10px;
    background-color: rgba(52, 51, 51, 0.5);
    padding: 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 600px;
    margin-left: 2135px;
}